.topBar
{
    width: 100%;
    background-color: #00000040;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    gap:1rem;
    backdrop-filter: blur(10px);
    z-index: 10;
}
.logo
{
    width:8rem;
    cursor: pointer;
    opacity: 0.85;
    transition: opacity .3s ease;
}
.logo:hover
{
    opacity: 1;
}
.langAndCurrency
{
    display: flex;
    align-items: center;
    gap:1rem;
}
.item
{
    display: flex;
    gap:.4rem;
    align-items: center;
    justify-content: center;
}
.iconSVG
{
    width: 1.2rem;
    height: 1.2rem;
}
.listContainer
{
    background-color: #404040;
    position: relative;
    height: 1.6rem;
    width: 4rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 700;
}
.listContainer:hover
{
    background-color: #00BFA6;
}
.list
{
    top:2rem;
    position: absolute;
    background-color: #404040;
    list-style-type: none;
    display: none;
    flex-direction: column;
    width: 4rem;
    border-radius: .5rem;
    overflow: hidden;
}
.listItem
{
    text-align: center;
    padding: .2rem 0;
    cursor: pointer;
}
.listItem:hover
{
    background: #808080;
}
.currencyListDisplay
{
    display: flex;
}
.loginContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.6rem;
}
.button
{
    padding: .5rem .8rem;
    background: none;
    border-radius: .8rem;
    outline: none;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background .3s ease;
    font-family: "DynaPuff", system-ui;
    font-weight: 500;
}
.line
{
    width: .2rem;
    height: 2.5rem;
    background-color: #00BFA6;
    border-radius: 10px;
}
.register
{
    background: none;
    margin-left: .7rem;
    border:.2rem solid #00BFA6;
}
.register:hover
{
    background: #00BFA6;
}
.login
{
    background: #008b79;
    border:.2rem solid #00BFA6;
}
.login:hover
{
    background: #00BFA6;
}