.article
{
    width: 100%;
    background:#303030;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    position: relative;
}
.error
{
    position: absolute;
    top:50%;
    left:50%;
    translate: -50% -50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    width: 40%;
    padding: 3rem;
    background:#404040a7;
    backdrop-filter: blur(10px);
    border-radius: 3rem;
    z-index: 2;
    border:.4rem solid #808080;
}
.errorIcon
{
    width: 10rem;
    height: 10rem;
}
.error>h2
{
    text-align: center;
    font-size: 3rem;
}
.item
{
    width: 100%;
    display: grid;
    grid-template-columns: 3rem 1fr 2fr 3fr 3rem;
    gap:1rem;
    cursor: pointer;
    align-items: center;
    padding: 2.5rem 3rem;
    transition: background .3s ease;
}
.item:hover
{
    background: rgb(66, 66, 66);
}
.img
{
    width: 3rem;
    height: 3rem;
}
.name
{
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;    
    text-overflow: ellipsis;
}
.chart
{
    background-color: yellow;
    height: 3rem;
}
.priceContainer
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}
.price
{
    grid-column: 1/2;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 900;
}
.priceChange
{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    white-space: nowrap;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}
.percentPriceChange
{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
}
.interval
{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    color:rgb(156, 156, 156);
    font-weight: 700;
}
.likeContainer
{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.likeContainer>img
{
    width: 100%;
    height: 100%;
}
.gainedColor
{
    color:#4DFF88;
}
.loseColor
{
    color: #FF4D4D;
}