.header
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2rem;
    padding: 8rem 4rem 8rem 4rem;
    position: relative;
    height: 35rem;
    overflow: hidden;
}
.bg
{
    position: absolute;
    top:50%;
    left:0%;
    right: 0;
    width: 100%;
    translate: 0 -50%;
    z-index: 1;
    filter: blur(3px) contrast(0.8) brightness(0.2);
    transition: filter 1.5s ease;
}
.bgDisplay
{
    filter: blur(3px) contrast(1.1) brightness(0.6);
}
.header>h1
{
    text-align: center;
    font-size: 5rem;
    z-index: 3;
    color: white;
    box-shadow: 0 0 1rem 1.5rem #0e111636;
    background-color: #0e111636;
    border-radius: 2rem;
    padding: 0 2rem;
}
.header>p
{
    text-align: center;
    font-size: 1.5rem;
    z-index: 3;
    padding: 0 5rem;
    color: rgb(193, 193, 193);
    box-shadow: 0 0 1rem 1.5rem #0e111674;
    background-color: #0e111674;
    border-radius: 2rem;
}
.shadow
{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 6rem 8rem #0E1116;
    z-index: 2;
}