.search
{
    width: 40%;
    position: relative;
    cursor: pointer;
}
.searchInput
{
    width: 100%;
    height: 100%;
    font-size: 1.3rem;
    text-align: center;
    outline: none;
    padding: .3rem .3rem .7rem .3rem;
    border: 0;
    background: none;
    cursor: pointer;
}
.searchInput:focus
{
    cursor: text;
}
.bottomBorder
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .2rem;
    background-color: #404040;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.bottomBorderFilled
{
    transform: scaleX(0);
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: #00BFA6;
    transition: transform .3s ease;
}
.bottomBorderFilledDisplay
{
    transform: scaleX(1);
}