*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #E6EAF0;
}
html
{
  font-size: 1vw;
  font-family: "Zalando Sans", sans-serif;
  /* font-family: "BBH Sans Hegarty", sans-serif; */
   /* font-family: "Merriweather Sans", sans-serif; */
    /* font-family: "DynaPuff", system-ui; */
     /* font-family: "Space Grotesk", sans-serif; */
}
body
{
  background-color: #0E1116;
}

